<%=form_for(@response, :url => '/response', :method => :post,  :html => {:class=> "form-horizontal well"}) do |f|%>
    <%= f.hidden_field :humanizer_question_id %>

    <legend><%=t('admin.comment.fieldset.legend')%></legend>

    <!-- field email start -->
    <%=render :partial => 'common/email_field',
              :locals => {:form => f, :model => @response, :field => :email, :label => t('admin.comment.field.email')}%>
    <!-- field email end -->

    <!-- field fio start -->
    <%=render :partial => 'common/text_field',
              :locals => {:form => f, :model => @response, :field => :fio, :label => t('admin.comment.field.fio'), :maxlength => 100}%>
    <!-- field fio end -->

    <!-- field title start -->
    <%=render :partial => 'common/text_field',
              :locals => {:form => f, :model => @response, :field => :title, :label => t('admin.comment.field.title'), :maxlength => 100}%>
    <!-- field title end -->

    <!-- field body start-->
    <%=render :partial => 'common/text_area',
              :locals => {:form => f, :model => @response, :field => :body, :label => t('admin.comment.field.body')}%>
    <!-- field body end -->

    <%=render :partial => 'common/captcha_field',
              :locals => {:form => f, :model => @response}%>

    <div class="control-group">
      <div class="controls">
        <%=f.submit t('site.button.send'), :class => "btn btn-primary btn-custom"%>
      </div>
    </div>
<%end%>