<%=form_for(@product_order, :url => '/order', :method => :post, :html => {:class=> "form-horizontal well"}) do |f|%>
    <%= f.hidden_field :humanizer_question_id %>
    <%= f.hidden_field :product_id %>
    <%= f.hidden_field :order_status_id %>

    <legend>
        Оформить заказ на "<%=@product.name%>" на сумму <%=@product.price%> <%=t('site.product.currency')%>
    </legend>

    <!-- field email -->
    <%=render :partial => 'common/email_field',
            :locals => {:form => f,
                        :model => @product_order,
                        :field => :email,
                        :label => t('site.order.field.email')}%>

    <!-- field phone -->
    <%=render :partial => 'common/phone_field',
            :locals => {:form => f,
                        :model => @product_order,
                        :field => :phone,
                        :label => t('site.order.field.phone'),
                        :maxlength => 20}%>

    <!-- field first name -->
    <%=render :partial => 'common/text_field',
            :locals => {:form => f,
                        :model => @product_order,
                        :field => :first_name,
                        :label => t('site.order.field.first_name'),
                        :maxlength => 30}%>

    <!-- field last name -->
    <%=render :partial => 'common/text_field',
            :locals => {:form => f,
                        :model => @product_order,
                        :field => :last_name,
                        :label => t('site.order.field.last_name'),
                        :maxlength => 30}%>

    <!-- field comment -->
    <%=render :partial => 'common/text_area',
            :locals => {:form => f,
                        :model => @product_order,
                        :field => :comment,
                        :label => t('site.order.field.comment')}%>

    <!-- field captcha -->
    <%=render :partial => 'common/captcha_field',
            :locals => {:form => f,
                        :model => @product_order}%>
    <div class="control-group">
      <div class="controls">
        <%=f.submit t('site.button.order_submit'), :class => "btn btn-primary btn-custom"%>
      </div>
    </div>
<%end%>