<div class="alert alert-success alert-success-custom">
  <h3><%=t('site.notification.order_was_created.title')%></h3>
  <%=image_tag 'photo.png', :class => "img-polaroid index-image"%>
  <p>
    <%=t('site.notification.order_was_created.part1')%>
    <strong>
      <%=@product_order.product.name%>
    </strong>
    <%=t('site.notification.order_was_created.part2')%>
    <strong>
      <%=@product_order.product.price%>
    </strong>
    <%=t('site.product.currency')%>
    <%=t('site.notification.order_was_created.part3')%>
  </p>
  <p>
    <%=t('site.notification.order_was_created.part4')%>:
  </p>
  <p>
    <%=t('site.order.field.email')%>: <strong><%=@product_order.email%></strong>
  </p>
  <p>
    <%=t('site.order.field.phone')%>: <strong><%=@product_order.phone%></strong>
  </p>
  <%=link_to "Вернуться на страницу каталога", catalog_index_path, :class => "btn btn-primary btn-custom"%>
</div>
