<div>
  <%=form_for(@comment, :url => application_contact_send_path(@comment), :html => {:class=> "form-horizontal well"}) do |f|%>
    <%= f.hidden_field :humanizer_question_id %>

    <legend><%=t('admin.comment.fieldset.legend')%></legend>

    <!-- field email start -->
      <%=render :partial => '/email_field',
                :locals => {:form => f,
                            :model => @comment,
                            :field => :email,
                            :label => t('admin.comment.field.email')}%>
    <!-- field email end -->

    <!-- field fio start -->
      <%=render :partial => '/text_field',
                :locals => {:form => f,
                            :model => @comment,
                            :field => :fio,
                            :label => t('admin.comment.field.fio'),
                            :maxlength => 100}%>
    <!-- field fio end -->

    <!-- field title start -->
      <%=render :partial => '/text_field',
                :locals => {:form => f,
                            :model => @comment,
                            :field => :title,
                            :label => t('admin.comment.field.title'),
                            :maxlength => 100}%>
    <!-- field title end -->

    <!-- field body start-->
      <%=render :partial => '/text_area',
                :locals => {:form => f,
                            :model => @comment,
                            :field => :body,
                            :label => t('admin.comment.field.body')}%>
    <!-- field body end -->

      <%=render :partial => '/captcha_field',
                :locals => {:form => f,
                            :model => @comment}%>

    <div class="control-group">
      <div class="controls">
        <%=f.submit t('site.button.send'), :class => "btn btn-primary"%>
      </div>
    </div>
  <%end%>
</div>