<% if flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:error] %>
    </div>
<% end %>
<div class="well">
    <div id="myCarousel" class="carousel slide product-detail-gallery">
       <!--Carousel items-->
      <div class="carousel-inner">
        <%@first_item = true%>
        <%@product.product_images.each do |product_image|%>
            <div <% if @first_item %>class="active item" <% else %>class="item"<% end %>>
              <%=image_tag(product_image.image, :class => "img-rounded")%>
            </div>
            <%@first_item = false%>
        <%end%>
      </div>
      <!--Carousel nav-->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <!--<div class="product-detail-gallery">-->
      <%#@product.product_images.each do |product_image|%>
        <%#=image_tag(product_image.image, :class => "img-rounded img-polaroid product-detail-image")%>
        <!--<div class="popup-image">-->
          <%#=image_tag(product_image.image, :class => "img-rounded img-polaroid")%>
        <!--</div>-->
      <%#end%>
    <!--</div>-->
    <div class="product-detail-info">
      <p class="product-detail-title">
        <%= @product.name %>
      </p>
      <p class="product-detail-description">
        <%= @product.description %>
      </p>
      <p class="product-detail-price">
       <%=t('site.product.price')%>:
        <span>
          <%= @product.price %>
        </span>
        <%=t('site.product.currency')%>
      </p>
      <p class="product-detail-status">
        <%=t('site.product.status')%>:
        <%if @product.product_status.code == ProductStatus::CODE_EXIST%>
            <span class="label label-success">
              <%= @product.product_status.name %>
            </span>
        <%else%>
            <span class="label label-warning">
              <%= @product.product_status.name %>
            </span>
        <%end%>
      </p>
      <hr/>
      <div class="product-detail-button-continer">
        <p>
            <button class="btn btn-large btn-primary" type="button"  data-toggle="modal" data-target="#order_form_id">
                <%=t('site.button.order')%>
            </button>
        </p>
        <br/>
        <p>
            <%=link_to t('site.button.goto_catalog'), application_catalog_path, :class => "btn btn-small btn-primary" %>
        </p>
      </div>
    </div>
</div>
<%=render 'order'%>

<script type="text/javascript">
    jQuery(document).ready(function(){

//      jQuery('.product-detail-image').tooltip();

        jQuery('.product-detail-image').popover({
            animation: true,
            html: true,
            placement: 'right',
            trigger: 'hover',
            content: 'Hello world'
        });
    });
</script>