<div class="ubercolortabs">
  <ul>
    <li class = <% if is_index_selected %> "selected" <% end %>>
      <%=link_to :application_index do%>
          <span>
            <%=t('site.menu.item_index')%>
          </span>
      <%end%>
    </li>
    <li class = <% if is_catalog_selected %> "selected" <% end %>>
      <%=link_to :application_catalog do%>
          <span>
            <%=t('site.menu.item_catalog')%>
          </span>
      <%end%>
    </li>
    <li class = <% if is_contact_selected %> "selected" <% end %>>
      <%=link_to :application_contact do%>
          <span>
            <%=t('site.menu.item_contact')%>
          </span>
      <%end%>
    </li>
  </ul>
</div>
<div class="ubercolordivider"> </div>