<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">
      <%=t('admin.contact.title')%>
    </li>
    <li>
      <%=get_email(@contact)%>
      <%=get_phone1(@contact)%>
      <%=get_phone2(@contact)%>
      <%=get_area(@contact)%>
      <%=get_skype(@contact)%>
    </li>
  </ul>
</div><!--/.well -->