<div class="well sidebar-nav patch">
  <ul class="nav nav-list">
    <li class="nav-header">
      <%=t('site.menu.title')%>
    </li>
    <li <% if is_index_selected %> class="active" <% end %>>
      <%=link_to t('site.menu.item_index'), main_index_path %>
    </li>
    <li <% if is_catalog_selected %> class="active" <% end %>>
      <%=link_to t('site.menu.item_catalog'), catalog_index_path %>
    </li>
    <li <% if is_delivery_selected %> class="active" <% end %>>
      <%=link_to t('site.menu.item_del_pay'), delivery_index_path %>
    </li>
    <li <% if is_contact_selected %> class="active" <% end %>>
      <%=link_to t('site.menu.item_response'), new_response_path %>
    </li>
  </ul>
</div>