<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">
      <%=t('site.menu.title')%>
    </li>
    <li>
      <%=link_to t('site.menu.item_index'), main_index_path %>
    </li>
    <li>
      <%=link_to t('site.menu.item_catalog'), catalog_index_path %>
    </li>
    <li>
      <%=link_to t('site.menu.item_delivery'), main_index_path %>
    </li>
    <li>
      <%=link_to t('site.menu.item_payment'), main_index_path %>
    </li>
    <li>
      <%=link_to t('site.menu.item_response'), catalog_index_path %>
    </li>
  </ul>
</div>