<div class=<%=get_field_class(model, field)%>>
  <label class="control-label" for="<%=field%>">
    <%=label%>:
  </label>
  <div class="controls">
    <%=form.text_area field, :id => field, :cols => 40, :rows => 5, :class => "text-field"%>
    <% if model.errors[field].present? %>
        <% model.errors[field].each do |msg|%>
            <p class="help-block"><%= msg%></p>
        <%end%>
    <%end%>
  </div>
</div>