<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">

      <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="<%=t('site.description')%>">
      <meta name="author" content="">
      <meta name=keywords content= "<%=t('site.keywords')%>" >
      <title><%= t('site.title') %></title>
      <%= csrf_meta_tags %>

      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

      <%= stylesheet_link_tag "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
    </head>
    <body>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
              <div class="navbar-inner navbar-custom">
                <div class="container-fluid">
                  <%=link_to t('site.title'), main_index_path, :class => "brand brand-custom"%>
                  <p class="navbar-text pull-right">
                    <%=link_to image_tag('russian.gif'), '/ru/main'%>
                    <%=link_to image_tag('ukrainian.gif'), '/uk/main'%>
                  </p>  
                </div>
              </div>
            </div>

            <div class="container-fluid">
              <div class="row-fluid">
                <div class="span3">
                  <%= render 'common/contact' %>
                  <%= render 'common/menu' %>
                  <%= render 'common/news_feed' %>
                </div><!--/span-->

                <div class="span9">
                  <div class="row-fluid">
                    <div class="span12">
                      <%=yield%>
                    </div><!--/span-->
                  </div><!--/row-->
                </div><!--/span-->

                <!--<div class="span3">-->
                  <!--<%#= render 'common/contact' %>-->
                <!--</div>&lt;!&ndash;/span&ndash;&gt;-->
              </div><!--/row-->
            </div>
        </div>
        <div class="navbar navbar-fixed-bottom navbar-custom footer">
          <%=image_tag('rails.png', :width => 15, :height => 25)%>
          <%=t('site.copyright')%>
        </div>
    </body>
</html>
