<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('site.title') %></title>
  <%= csrf_meta_tags %>

  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
    <body>
        <div class="container">
            <%=render '/menu'%>
            <div class="banner">
              <div class="banner-title">
                <span><%=t('site.title')%></span>
              </div>
              <div class="banner-contacts">
                 <%=get_email(@contact)%>
                 <%=get_phone1(@contact)%>
                 <%=get_phone2(@contact)%>
                 <%=get_area(@contact)%>
                 <%=get_skype(@contact)%>
              </div>
            </div>
            <div class="horizontal-divider"></div>
            <div class="content-holder content">
                <%=yield%>
            </div>
            <div class="footer">
                <%=t('site.copyright')%>
            </div>
        </div>
    </body>
</html>
